.tech-tree-container {
    width: 100%;
    height: 100%;
}

.tech-tree {
    position: relative;
    
    background-color: gray;
    height: 1000px;
    width: 700px;
}

.node {
    position: absolute;
    
    border-width: 1px;
    border-color: white;
    background-color: darkgray;
    
    height: 50px;
    width: 120px;
}

.node Label {
    color: black;
}

.node-dragged {
    background-color: red;
}

.line {
    background-color: black;
    border-color: red;
    border-width: 2px;
}